* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
}

:root {
  /* colors */
  --primary-color: #1f1f1f;
  --text-white: #ffffff;
  --text-green: #c5f82a;
  --btn-backgrond: #333333;
  --background-color: #141414;

  /* font sizes */
  --font-large: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  --font-medium: clamp(0.73rem, 0.701rem + 0.1239vw, 0.8125rem);
  --font-small: clamp(0.675rem, 0.6486rem + 0.1127vw, 0.75rem);

  /* spacing */
  --padding-container: 2.4rem;
  --gap-btn: 1.2rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  min-height: 100vh;
}

.container {
  width: min(80%, 329px);
  padding: var(--padding-container);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
  border-radius: 8px;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile-img {
  width: 91px;
  height: 91px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-info h2 {
  font-size: var(--font-large);
  font-weight: 700;
  text-align: center;
  color: var(--text-white);
}

.profile-info address {
  font-size: var(--font-medium);
  font-weight: 700;
  color: var(--text-green);
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--gap-btn);
}

.skills p {
  align-self: start;
  color: var(--text-white);
  font-weight: 700;
  font-size: var(--font-small);
  margin-inline-start: 0.6rem;
  text-align: center;
}

.skills .btn {
  position: relative;
  width: 100%;
  height: 34px;
  background-color: var(--btn-backgrond);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
  font-weight: 700;
  font-size: var(--font-small);
  letter-spacing: 0.05rem;
  line-height: 1.5;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.7);
}

.skills .btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--text-green);
  z-index: -1;
  transition: 0.5s;
}

.skills .btn:hover::before {
  height: 100%;
}

.skills .btn:hover {
  font-size: 0.9rem;
  box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  color: var(--background-color);
}
